<!DOCTYPE html>
<html>
<head>
    <title>Attendance - Student Portal</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="main-portal-container">
        <a href="{{ url_for('portal') }}" class="back-to-portal">Back to Portal</a>
        <div class="header">
            <h1>Your Attendance</h1>
        </div>
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in range(dates|length) %}
                    <tr>
                        <td>{{ dates[i] }}</td>
                        <td>{{ times[i] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
